* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:'Courier New', Courier, monospace;
  color: #4d4d4d;
}

header {
  padding: 16px;
  border-bottom: 2px solid white;
  background-color: #4d4d4d;
  color: white;
}

.container {
  padding: 15px;
}

.toolbar {
  padding-block: 12px;
}


h2 {
  font-size: 1.2rem;
  color: hotpink;
}


.product-card {
  padding-block: 15px;
  border-bottom: 1.5px solid white;
  font-size: 1rem;
}

footer {
  background-color: #4d4d4d;
  font-size: .7rem;
  color: greenyellow;
  border-top: 2px solid white;
  padding: 20px;
  display: flex;
  align-items: center;
}

