* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:'Courier New', Courier, monospace;
  padding: 20px;
  font-size: 1rem;
}

header {
  padding: 10px;
  border-bottom: 2px solid white;
}

.container {
  margin-block: 20px;
  padding: 10px;
}

footer {
  font-size: .8rem;
  color: greenyellow;
  border-top: 2px solid white;
  padding: 20px;
  display: flex;
  align-items: center;
}

